<div class="container">

        <h1>Hi, I'm Taylor!</h1>
        <img id="me" src="../../../assets/me.jpg">

    <p>
        I'm 25 years old, a dietitian and an aspiring software engineer(yes, I coded this website).
        By the end of this school year, I'll have 3 college degrees- 2 bachelor's and a masters-
        you could say I like school. I was born and raised in New Jersey, USA but recently moved
        to Philadelphia, PA- go Eagles!
    </p>
    <p>
        I've been obsessed with traveling for as long as I can remember. I love learning about new
        cultures, seeing new faces, talking to strangers and most of all eating new foods. I have
        genuine panic attacks if I think about how much world there is to see and how I'll never
        see it all, but I'm determined to see as much as I can. I even have a tattoo of a world map,
        as a promise to myself to do just that.
    </p>

    <p>
        This blog is for me as a way to document my travels because I have a shit memory and I don't
        want to forget any of the amazing things that happen along the way. So if you've read this far,
        you're probably my mom or maybe just interested in my journey, either way I appreciate you!
    </p>

    <p>
        Follow along for ok pictures, a lot of stupid jokes, recommendations and all of the
        shenanigans I get myself into. If you have any questions or travel recommendations for me,
        slide into my DMs, send me an email or leave a comment!
    </p>


</div>
